.header-container {
  height: fit-content;
}

.header {
    overflow: hidden;
    padding-left: 15px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.103);
}

.header a {
  float: left;
  color: rgb(103,11,25);
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 13px;
}

.header a:hover {
  text-decoration: none;
}

.header a.active {
  background-color: #4CAF50;
  color: white;
}

.header-right {
  float: right;
  padding-right: 40px;
  margin-right: 10px;
}

.header-right a{
    font-size: 15px;
    font-weight: bold;
}



.hover-card-login {
  text-align: center;
  border-bottom: solid 2px rgb(103,11,25);
  margin: 0;
  padding: 0;
}

.hover-card-register {
  text-align: center;
  margin: 0;
  padding: 0;
}

.hover-card-button {
  color:white;
  display: block;
  margin:10px 20px;
  padding: 5px 10px;
  background-color: rgb(103,11,25);
  border: 0;
}

