.brand-searchbar {
    padding: 0% 2%;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.103);
}

.brand-searchbar img {
    width: 20vw;
    height: 10vh;
}

.brand-searchbar-right {
    float: right;
    padding:20px 7vw;
    padding-right: 0px;
    margin-right: 2vw;
  }

.brand-searchbar-right input[type=text] {
    font-size: small;
    height: 6.75vh;
    width: 38vw;
    padding: 10px;
    font-style: italic;
}

.brand-searchbar-right > img {
    width: 55px;
    height: 6.75vh;
    margin-bottom: 2px;
}


