.nav {
    display: block;
    text-align: center;
    height: fit-content;
}
.navbar {
    width: 100%;
    padding: 4px 0px;
    display: block;
    text-align: center;
    overflow: hidden;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.103);
}

/* Style the links inside the navigation bar */
.navbar a {
    padding: 0px 10px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
}

/* Change the color of links on hover */
.navbar a:hover {
    text-decoration: none;
    border-bottom: 5px solid rgb(103,11,25);
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #4CAF50;
    color: white;
}
