

.header {
  height: fit-content;
}

.search-brand {
  height: 15vh;
}

.nav {
  height: 5vh;
}

.carousel {
  height: fit-content;
}

.list-items {
  height: fit-content;
}

.grid-items {
  height: fit-content;
}

.best-seller-carousel {
  height: fit-content;
}

.recomends-carousel{
  height: fit-content;
}

.text-area {
  height: fit-content;
}

.sign-up-email {
  height: fit-content;
}

.feedback-carousel {
  height: fit-content;
}

.footer-section {
  height: fit-content;
}



@media (max-width: 600px){
  .carousel{
    height: 10vh;
    background-color: brown;
  }
}


